---
layout: default
title: Arma Coop
---

<div class="container">
    <div class="row">
        <div class="eight columns presentation">
            {% for info in site.categories.info limit:1 %}
            <iframe class="u-full-width" src="{{info.videolink}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            <div class="more-desc">{{info.videotitle}}</div>
            {% endfor %}
        </div>
        <div class="four columns more-infos">
            <a href="{{site.baseurl}}/missions/">
                <div class="missions-map">
                    <img src="{{site.baseurl}}/assets/img/altis-map.jpg">
                    <div class="more-desc">Les missions</div>
                </div>
            </a>
            <a href="{{site.baseurl}}/archives/">
                <div class="arma-articles">
                    <img src="{{site.baseurl}}/assets/img/article.jpg">
                    <div class="more-desc">Archives</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns articles-vrac">
            {% for post in paginator.posts %}
                <a href="{{post.url}}">
                <div class="article">
                    <h5>{{post.title}}</h5>
                    <p>{{post.meta}}</p>
                    <p class="date">
                    {% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%-d" }}
                    {% case m %}
                        {% when '1' %}Janvier
                        {% when '2' %}Février
                        {% when '3' %}Mars
                        {% when '4' %}Avril
                        {% when '5' %}Mai
                        {% when '6' %}Juin
                        {% when '7' %}Juillet
                        {% when '8' %}Août
                        {% when '9' %}Septembre
                        {% when '10' %}Octobre
                        {% when '11' %}Novembre
                        {% when '12' %}Décembre
                    {% endcase %}
                    {{ post.date | date: "%Y" }}
                    </p>
                </div>
                </a>
                <hr>
            {% endfor %}
            <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
                <div class="pagination">
                    <div class="prevbutton">
                        {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                                <button class="changepage">
                                    <i class="fa fa-chevron-left"></i> Prev
                                </button>
                            </a> 
                        {% else %}
                            <span>
                                <button class="buttondisabled">
                                    <i class="fa fa-chevron-left"></i> Prev
                                </button>
                            </span>
                        {% endif %}
                    </div>
                    <div class="pagenumber">
                        {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                                <button class="buttondisabled pagenumber">
                                    {{ page }}
                                </button>
                            {% elsif page == 1 %}
                                <a href="{{site.baseurl}}/">
                                    <button class="changepage pagenumber">
                                        {{ page }}
                                    </button>
                                </a>
                            {% else %}
                                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
                                    <button class="changepage pagenumber">
                                        {{ page }}
                                    </button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="nextbutton">
                        {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                                <button class="changepage">
                                    Next <i class="fa fa-chevron-right"></i>
                                </button>
                            </a>
                        {% else %}
                            <span>
                                <button class="buttondisabled">
                                    Next <i class="fa fa-chevron-right"></i>
                                </button>
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>