<div class="row site-name">
    <a href="{{site.baseurl}}/">
        <div class="six columns offset-by-three columns title">
            <h1>Arma Coop</h1>
            <h4>Missions, Infos et plus</h4>
        </div>
    </a>
</div>
<div class="container">
    <div class="row flash">
        <div class="twelve columns">
            {% for info in site.categories.info limit:1 %}
            <marquee scrollamount="2">[{{info.dateinfo}}] - {{info.title}}</marquee>
            {% endfor %}
        </div>
    </div>
</div>