
<html lang="fr">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://www.fontify.me/wf/932e1a93c90cfc8074cc052a4d51abcb" rel="stylesheet" type="text/css">
    <link href="https://www.fontify.me/wf/54e7c367d259fdc8ed2afef548ee8fc2" rel="stylesheet" type="text/css"> <!-- Purista Bold -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/skeleton.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{{site.baseurl}}/assets/img/arma3.jpg">
    <meta charset="utf-8">
    <title>{{page.title}}</title>
</head>

<body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
</body>

</html>